// VAR
// Colors
// White to Black
$default-white: #fff;

$lighter-gray: #f6f6f6;
$light-gray: #eaeaea;
$default-gray: #7e7e7e;
$dark-gray: #353535;

$default-black: #000;

// Palette
$default-pink: #FF79DA;

$default-purple: #9356DC;

$light-green: #99E2D0;
$default-green: #008766;

// Gradient

$default-gradient: linear-gradient(193deg, $default-purple -11.44%, $default-pink 123.93%);

// Gap / Margin

$small-gap: 1rem;
$default-gap: 2rem;